.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml
*.ipr
*.iws
android/.gradle/
android/captures/
android/.idea/
android/gradlew
android/gradlew.bat
android/gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.log
.DS_Store
